@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@layer base {
  /* fira-code-regular - latin */
  @font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/fira-code-v18-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/fira-code-v18-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/fira-code-v18-latin-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../fonts/fira-code-v18-latin-regular.woff") format("woff"),
      /* Modern Browsers */ url("../fonts/fira-code-v18-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/fira-code-v18-latin-regular.svg#FiraCode") format("svg"); /* Legacy iOS */
  }
  /* fira-code-500 - latin */
  @font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/fira-code-v18-latin-500.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/fira-code-v18-latin-500.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/fira-code-v18-latin-500.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("../fonts/fira-code-v18-latin-500.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/fira-code-v18-latin-500.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/fira-code-v18-latin-500.svg#FiraCode") format("svg"); /* Legacy iOS */
  }
  /* fira-code-700 - latin */
  @font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/fira-code-v18-latin-700.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/fira-code-v18-latin-700.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/fira-code-v18-latin-700.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("../fonts/fira-code-v18-latin-700.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/fira-code-v18-latin-700.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/fira-code-v18-latin-700.svg#FiraCode") format("svg"); /* Legacy iOS */
  }

  /* inter-100 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/inter-v11-latin-100.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/inter-v11-latin-100.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/inter-v11-latin-100.woff2") format("woff2"),
      /* Super Modern Browsers */ url("../fonts/inter-v11-latin-100.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/inter-v11-latin-100.ttf")
        format("truetype"),
      /* Safari, Android, iOS */ url("../fonts/inter-v11-latin-100.svg#Inter")
        format("svg"); /* Legacy iOS */
  }
  /* inter-300 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/inter-v11-latin-300.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/inter-v11-latin-300.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/inter-v11-latin-300.woff2") format("woff2"),
      /* Super Modern Browsers */ url("../fonts/inter-v11-latin-300.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/inter-v11-latin-300.ttf")
        format("truetype"),
      /* Safari, Android, iOS */ url("../fonts/inter-v11-latin-300.svg#Inter")
        format("svg"); /* Legacy iOS */
  }
  /* inter-regular - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-v11-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/inter-v11-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/inter-v11-latin-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("../fonts/inter-v11-latin-regular.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/inter-v11-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/inter-v11-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
  }
  /* inter-500 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/inter-v11-latin-500.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/inter-v11-latin-500.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/inter-v11-latin-500.woff2") format("woff2"),
      /* Super Modern Browsers */ url("../fonts/inter-v11-latin-500.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/inter-v11-latin-500.ttf")
        format("truetype"),
      /* Safari, Android, iOS */ url("../fonts/inter-v11-latin-500.svg#Inter")
        format("svg"); /* Legacy iOS */
  }
  /* inter-600 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/inter-v11-latin-600.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/inter-v11-latin-600.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/inter-v11-latin-600.woff2") format("woff2"),
      /* Super Modern Browsers */ url("../fonts/inter-v11-latin-600.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/inter-v11-latin-600.ttf")
        format("truetype"),
      /* Safari, Android, iOS */ url("../fonts/inter-v11-latin-600.svg#Inter")
        format("svg"); /* Legacy iOS */
  }
  /* inter-900 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-v11-latin-900.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/inter-v11-latin-900.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/inter-v11-latin-900.woff2") format("woff2"),
      /* Super Modern Browsers */ url("../fonts/inter-v11-latin-900.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/inter-v11-latin-900.ttf")
        format("truetype"),
      /* Safari, Android, iOS */ url("../fonts/inter-v11-latin-900.svg#Inter")
        format("svg"); /* Legacy iOS */
  }

  /* eb-garamond-regular - latin */
  @font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/eb-garamond-v25-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/eb-garamond-v25-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/eb-garamond-v25-latin-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../fonts/eb-garamond-v25-latin-regular.woff") format("woff"),
      /* Modern Browsers */ url("../fonts/eb-garamond-v25-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/eb-garamond-v25-latin-regular.svg#EBGaramond")
        format("svg"); /* Legacy iOS */
  }
  /* eb-garamond-600 - latin */
  @font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/eb-garamond-v25-latin-600.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/eb-garamond-v25-latin-600.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/eb-garamond-v25-latin-600.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("../fonts/eb-garamond-v25-latin-600.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/eb-garamond-v25-latin-600.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/eb-garamond-v25-latin-600.svg#EBGaramond") format("svg"); /* Legacy iOS */
  }
  /* eb-garamond-800 - latin */
  @font-face {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/eb-garamond-v25-latin-800.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/eb-garamond-v25-latin-800.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/eb-garamond-v25-latin-800.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("../fonts/eb-garamond-v25-latin-800.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/eb-garamond-v25-latin-800.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/eb-garamond-v25-latin-800.svg#EBGaramond") format("svg"); /* Legacy iOS */
  }
  /* eb-garamond-italic - latin */
  @font-face {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/eb-garamond-v25-latin-italic.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/eb-garamond-v25-latin-italic.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/eb-garamond-v25-latin-italic.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../fonts/eb-garamond-v25-latin-italic.woff") format("woff"),
      /* Modern Browsers */ url("../fonts/eb-garamond-v25-latin-italic.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/eb-garamond-v25-latin-italic.svg#EBGaramond")
        format("svg"); /* Legacy iOS */
  }
  /* eb-garamond-600italic - latin */
  @font-face {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/eb-garamond-v25-latin-600italic.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/eb-garamond-v25-latin-600italic.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/eb-garamond-v25-latin-600italic.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../fonts/eb-garamond-v25-latin-600italic.woff") format("woff"),
      /* Modern Browsers */ url("../fonts/eb-garamond-v25-latin-600italic.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/eb-garamond-v25-latin-600italic.svg#EBGaramond")
        format("svg"); /* Legacy iOS */
  }
  /* eb-garamond-800italic - latin */
  @font-face {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/eb-garamond-v25-latin-800italic.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/eb-garamond-v25-latin-800italic.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/eb-garamond-v25-latin-800italic.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("../fonts/eb-garamond-v25-latin-800italic.woff") format("woff"),
      /* Modern Browsers */ url("../fonts/eb-garamond-v25-latin-800italic.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/eb-garamond-v25-latin-800italic.svg#EBGaramond")
        format("svg"); /* Legacy iOS */
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  @apply w-3;
}

::-webkit-scrollbar-track {
  @apply bg-kami;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full border-4 border-solid border-kami bg-aka;
}

/* Global styles */

body {
  @apply overflow-x-hidden bg-kami font-inter font-normal text-katsu;
}

.gatsby-resp-image-wrapper {
  @apply overflow-hidden rounded-lg;
}

.new-post-true {
  @apply bg-aka bg-opacity-70;
}

.new-post-false {
  @apply bg-katsu bg-opacity-70;
}

/* Components */

.k-inputfield {
  @apply rounded-md bg-katsu p-2 px-4 text-kami placeholder:text-kami placeholder:opacity-70;
}

.k-inputsend {
  @apply rounded-md bg-aka p-2 px-4 text-left font-medium text-kami;
}

.k-interactable-simple {
  @apply transition-all;
}

.k-interactable-simple:hover {
  @apply tablet:scale-95;
}

.k-interactable-simple:active {
  @apply scale-90 bg-opacity-100;
}

.k-interactable-simple {
  @apply transition-all;
}

.k-glassy {
  @apply bg-opacity-60 backdrop-blur-md;
}

.k-prose-big {
  @apply prose prose-lg max-w-none prose-headings:font-garamond prose-headings:text-katsu prose-p:text-katsu prose-a:text-aka hover:prose-a:no-underline prose-strong:text-katsu prose-code:font-fira prose-code:text-katsu prose-pre:bg-katsu prose-pre:bg-opacity-10 prose-hr:border-katsu prose-hr:opacity-20 tablet:prose-xl desktop:prose-2xl;
}

.k-prose {
  @apply prose max-w-none prose-headings:font-garamond prose-headings:text-katsu prose-p:text-katsu prose-a:text-aka hover:prose-a:no-underline prose-strong:text-katsu prose-code:font-fira prose-code:text-katsu prose-pre:bg-katsu prose-pre:bg-opacity-10 prose-hr:border-katsu prose-hr:opacity-20 tablet:prose-lg desktop:prose-xl;
}

.k-wrapper {
  @apply rounded-lg bg-katsu bg-opacity-5 px-4 py-8 desktop:p-8;
}

/* Projects */
